{% extends "base.html" %}

{% block main %}

#HERE IMPLEMENT LOGIC FOR BUYING GAME

<form action="http://payments.webcourse.niksula.hut.fi/pay/" method="POST">

    <!-- pid is the game's primary key -->
    <input type="hidden" name="pid" value={{pid}}/>
    <input type="hidden" name="sid" value={{sid}} />
    <!-- the three urls can be the same and then only the "result" parameter from the HTTP GET from the payment service can be different -->
    <input type="hidden" name="success_url"
            value={{success_url}} />
    <input type="hidden" name="cancel_url"
            value={{cancel_url}} />
    <input type="hidden" name="error_url"
            value={{error_url}} />
    <!-- checksum is calculated in the view based on the above parameters (pid, sid, amount and then the seret key based on the sid) -->
    <input type="hidden" name="checksum"
            value={{checksum}} />

    <label for="id_amount">Amount</label>

    <!-- amount is the only parameter that is shown and it is read-only -->
    <!-- TODO for the future we can query the game name and add it above the amount to showwhat the user is buying -->
    <input type="text" id="id_amount" readonly name="amount" value={{price}} />

    <!-- check technicalities of each button below and how to conect them to the different responses -->
    <input type="submit" value="Cancel"/>
    <input type="submit" value="Accept Payment"/>
</form>

{% endblock %}
