{% extends "base.html" %}

{% block main %}
<script>
  window.addEventListener("message", receiveMessage, false);

  function receiveMessage(event)
  {
    //TODO: Maybe we should make sure that event comes from the game?
    //var origin = event.origin || event.originalEvent.origin; // For Chrome, the origin property is in the event.originalEvent object.
    //if (origin !== "http://example.org:8080")
    //  return;

    // Save game handler
    if (event.data.messageType == "SAVE"){
      // Data to be sent to coresponding view to process
      var requestData = { 'game': {{ game.pk }} , 'score': event.data.gameState['score'], 'items': event.data.gameState['playerItems']};
      // Ajax call to view saveGame
      $.ajax({
          type: "POST",
          url: "saveGame/",
          data: requestData,
          success: function(data){
              alert(data);
          },
          error: function(msg){
              alert( "There is an error with the server." );
          }
      });
    }
    // Load game
    if (event.data.messageType == "LOAD_REQUEST"){
      var requestData = { 'game': {{ game.pk }}};
      // Ajax call that sends load game data to loadGame view,
      // Load game view process the data and sends it back
      // If it is successfull, message with load data is sent to the game
      $.ajax({
          type: "POST",
          url: "loadGame/",
          data: requestData,
          success: function(data){
              // Just checking that correct data is sent
              if ( data.messageType == "LOAD"){
                var message = data;
                // Message containing load game data is sent to the game
                var iframe = document.getElementById("game").contentWindow;
                iframe.postMessage(message, "{{ game.url }}");
              }
              else
                alert(data);
          },
          error: function(msg){
              alert( "There is an error with the server." );
          }
      });
    }
    // Used for saving the score of the game, usually after the game has ended
    if(event.data.messageType == "SCORE"){
      var requestData ={ 'game': {{ game.pk }} , 'score': event.data.score};
      $.ajax({
          type: "POST",
          url: "saveScore/",
          data: requestData,
          success: function(data){
              //TODO: dont reload whole page, make it like a AJAX call to refresh highscores only
                alert(data);
                // Refresh page to see newly updated highscores
                location.reload();
          },
          error: function(msg){
              alert( "There is an error with the server." );
          }
      });
    }

  }
</script>

<h1> {{ game.name }} </h1>
<div class="col-sm-6">
  {% if gameBought %}
    <iframe src="{{ game.url }}" name="game" id="game"></iframe>
  {% else %}
    <p> Oh Shoot! You need to buy the game to play it. Buy it <a href="{% url 'buyGame' game.name %}"> here </a>. </p>
  {% endif %}
</div>
<div class="col-sm-6" id="highScores">
  <h1> High Scores </h1>
  <!-- Please style this table in CSS -->
  <table border="6">
    <tr>
        <th>User</th>
        <th>Score</th>
    </tr>
    {% for item in scores %}
    <tr>
        <td>{{ item.user }}</td>
        <td>{{ item.score }}</td>
    </tr>
    {% endfor %}
  </table>
</div>

{% endblock %}
