{% extends "base.html" %}
{% load bootstrap %}

{% block scriptsAndStylesheets %}
	{% load cloudinary %}
	{% cloudinary_includes %}
	{% cloudinary_js_config %}
{% endblock %}

{% block main %}
<div class="col-md-12">
	<div class="col-md-12">
		<div class="col-md-3 text-center" style="float: none; margin: 0 auto">
			<div class="col-md-12">
				{% cloudinary 'WSD/profile_mockup.png' height=150 width=150 crop="fill" secure=True class="img-circle img-responsive" style="display:block; margin:auto" %}
			</div>
			<div class="col-md-12">
				<p class="lead" style="margin-bottom:0px">{{user.username}}</p>
				<span><a href="editProfile" style="color:#ddd;">Edit Profile</a></span>
				<br/>
				<span><a href="manageUploadedGames">Manage Uploaded Games</a></span>
			</div>
		</div>

	</div>

</div>

{% if userProfile.isDeveloper %}

Hello developer {{user.username}}
{% if success %}

<p> Upload successful </p>

{% else %}
<!--
<form method="post" action=".">
        {% csrf_token %}
        <table border="0">
			{{ backend_form }}
            {{ form.as_table }}
        </table>
        <input type="submit" value="Upload" />
</form>
-->
<div id='backend_upload'>
	<h2>Upload New Game</h2>
	<form action="." method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{{ backend_form }}

		<table border="0">
            {{ form.as_table }}
        </table>
		<input type="submit" value="Upload">
	</form>
{% endif %}
{% endif %}
{% endblock %}
<!-- ##############################################   donot remove this please
	{% if posted %}
		<div class="results">
			{% if posted.errors %}
			Errors: {{ posted.errors }}
			{% else %}
			<div class="uploaded_info">
				<div class="data">
				<table>
					{% for key, value in posted.image.metadata.items %}
						<tr><td>{{ key }}</td><td>{{ value }}</td></tr>
					{% endfor %}
				</table>
				</div>

			</div>
		{% endif %}

	{% else %}
		<div class="col-md-12">
			<div class="well">
				<div class="tab-content">
					<div class="tab-pane fade in active" id="tab1">
						<h3>This is tab 1</h3>
						<button type="button" id="buy-game-btn" class="btn btn-info btn-lg">Buy Games</button>
					</div>
				</div>
			</div>

		</div>
	{% endif %}
</div>
-->
<!-- ##############################################   donot remove this please
							{% if posted %}
								<div class="results">
									{% if posted.errors %}
									Errors: {{ posted.errors }}
									{% else %}
									<div class="uploaded_info">
										<div class="data">
										<table>
											{% for key, value in posted.image.metadata.items %}
												<tr><td>{{ key }}</td><td>{{ value }}</td></tr>
											{% endfor %}
										</table>
										</div>
										<div class="image">
											{% load cloudinary %}
											{% cloudinary posted.image THUMBNAIL %}
										</div>
									</div>
									{% endif %}
								</div>
							{% endif %}
							-->
