@CHARSET "UTF-8";

* {
  @include box-sizing(border-box); 
}

body{ 
	padding-top: 55px;
	overflow-x:hidden;
	font-family:"Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}

footer {
  background-color: #222;
  border-color: #222;
  bottom: 0;
  min-height: 50px;
  width: 100%;
}

.section-subheading{
	font-size:16px;
	font-family:"Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
	text-transform:none;
	font-style:italic;
	font-weight:400;
}

#show-games a{
	text-decoration: none;
}

/* RESPONSIVE CSS
-------------------------------------------- */

@media (min-width:768px){
	.service-heading{margin:15px 0;text-transform:none}
}

@media (min-width: 768px) {
	
}

@media (min-width:992px){
	
}